<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>180340122307-fua8tuifns1gegauild3jciocu9a0fo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180340122307-fua8tuifns1gegauild3jciocu9a0fo9</string>
	<key>API_KEY</key>
	<string>AIzaSyDSa5tvm475I_6J-nt70Pie4PmkaBWV5T8</string>
	<key>GCM_SENDER_ID</key>
	<string>180340122307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevSant.FirstSocial</string>
	<key>PROJECT_ID</key>
	<string>first-social-c7b29</string>
	<key>STORAGE_BUCKET</key>
	<string>first-social-c7b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:180340122307:ios:538bc40d3bb58db4</string>
	<key>DATABASE_URL</key>
	<string>https://first-social-c7b29.firebaseio.com</string>
</dict>
</plist>